
<div id="consultation-content">
  <div class="row">
  <div class="col-lg-12">
    <img src="assets/images/HEADER-HISTORIA2.png" class="header"/>
    <div class="card">
      <div class="card-body">

        <div class="info-consultation">
          <h5 class="text-center mb-2">HISTORIA CLINICA</h5>
          <span class="text-center mb-5">
            <strong>Fecha de Ingreso:</strong>
            {{ patientData.registerDate }}
          </span>

          <div class="date-actual">
            <p>
              Fecha Actual: 27-09-2025
            </p>

            <p>
              Hora Actual: 03:39 pm
            </p>
          </div>
        </div>

        <!-- Información del paciente -->
        <div class="row section-info">
          <h6 class="title-section mb-4">INFORMACION DEL PACIENTE</h6>
          <div class="table-responsive">
            <table class="table table-bordered patient-info-table">
              <tbody>
                <tr>
                  <td><strong>Paciente:</strong></td>
                  <td colspan="3">{{ patientData.firstName }} {{ patientData.secondName }} {{ patientData.firstLastName }} {{ patientData.secondLastName }}</td>
                </tr>
                
                <tr>
                  <td><strong>{{ patientData.documentType }}:</strong></td>
                  <td colspan="3">{{ patientData.idDocument }}</td>
                </tr>

                <tr>
                  <td><strong>Fecha de Nacimiento:</strong></td>
                  <td>{{ patientData.birthDay }}</td>
                  <td><strong>Edad:</strong></td>
                  <td>65 años</td>
                </tr>

                <tr>
                  <td><strong>Estado civil:</strong></td>
                  <td>{{ patientData.maritalStatus }}</td>
                  <td><strong>Sexo:</strong></td>
                  <td>{{ patientData.sex }}</td>
                </tr>

                <tr>
                  <td><strong>Dirección:</strong></td>
                  <td>{{ patientData.address }}</td>
                  <td><strong>Teléfono:</strong></td>
                  <td>{{ patientData.phoneNumber }}</td>
                </tr>

                <tr>
                  <td><strong>Ciudad:</strong></td>
                  <td>{{ patientData.municipalityName }}</td>
                  <td><strong>Estrato:</strong></td>
                  <td>{{ patientData.stratum }}</td>
                </tr>

                <tr>
                  <td><strong>EPS:</strong></td>
                  <td>{{ patientData.idEps }}</td>
                  <td><strong>Grupo Étnico:</strong></td>
                  <td>{{ patientData.ethnic }}</td>
                </tr>

                <tr>
                  <td><strong>Régimen:</strong></td>
                  <td>{{ patientData.regime }}</td>
                  <td><strong>Discapacidad:</strong></td>
                  <td>{{ patientData.disAbilityDescription }}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>


        <!-- Motivo de Consulta -->
        <div class="row mt-3 mb-3">
          <div class="col-12">
            <p><strong>Motivo de Consulta:</strong> {{ dataConsultation.consultationReason }}</p>
            <p><strong>Enfermedad Actual:</strong> {{ dataConsultation.currentIllness }}</p>
          </div>
        </div>

        <!-- Estado General -->
        <div class="row section-info mt-3 mb-3">
          <h6 class="title-section mb-4">ESTADO GENERAL</h6>
          <div class="table-responsive">
            <table class="table table-bordered">
              <colgroup>
                <col style="width: 30%;">
                <col style="width: 70%;">
              </colgroup>
              <tbody>
                <tr>
                  <td><strong>Estado de Hidratación:</strong></td>
                  <td>{{ dataConsultation.hydrationStatus }}</td>
                </tr>

                <tr>
                  <td><strong>Nivel de Glasgow:</strong></td>
                  <td>{{ dataConsultation.glasgowScore }}</td>
                </tr>

                <tr>
                  <td><strong>Estado de Conciencia:</strong></td>
                  <td>{{ dataConsultation.consciousnessStatus }}</td>
                </tr>

                <tr>
                  <td><strong>Estado de Conciencia:</strong></td>
                  <td>{{ dataConsultation.consciousnessStatus }}</td>
                </tr>

                <tr>
                  <td><strong>Estado General:</strong></td>
                  <td>{{ dataConsultation.generalStatus }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

       <!--  <div class="html2pdf__page-break">
        </div> -->

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

          <!-- Signos Vitales -->
          <div class="row section-info mt-3 mb-3">
          <h6 class="title-section mb-4">SIGNOS VITALES</h6>
          <div class="table-responsive">
            <table class="table table-bordered">
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td><strong>Presión Arterial:</strong></td>
                  <td>{{ dataConsultation.vitalSigns_BP }}</td>
                  <td><strong>Frecuencia Cardíaca::</strong></td>
                  <td>{{ dataConsultation.vitalSigns_HR }}</td>
                </tr>

                
                <tr>
                  <td><strong>Frecuencia Respiratoria:</strong></td>
                  <td>{{ dataConsultation.vitalSigns_RR }}</td>
                  <td><strong>Temperatura:</strong></td>
                  <td>{{ dataConsultation.vitalSigns_Temp }}</td>
                </tr>

                <tr>
                  <td><strong>Saturación de Oxígeno (SpO2):</strong></td>
                  <td>{{ dataConsultation.vitalSigns_SPO2 }}</td>

                  <td><strong>IMC:</strong></td>
                  <td>{{ dataConsultation.bmi }}</td>
                </tr>

                <tr>
                  <td><strong>Talla (cms):</strong></td>
                  <td>{{ dataConsultation.heightCm }}</td>

                  <td><strong>Peso (Kg):</strong></td>
                  <td>{{ dataConsultation.weightKg }}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>



        <!-- Examen Fisico -->
        <div class="row section-info mt-3 mb-3">
          <h6 class="title-section mb-4">EXAMEN FISICO</h6>
       
          <div class="table-responsive">
            <table class="table table-bordered">
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td><strong>Cabeza y Cuello:</strong></td>
                  <td>{{ dataConsultation.physicalExam_HeadNeck }}</td>
                  <td><strong>Tórax:</strong></td>
                  <td>{{ dataConsultation.physicalExam_Chest }}</td>
                </tr>

                
                <tr>
                  <td><strong>Corazón:</strong></td>
                  <td>{{ dataConsultation.physicalExam_Heart }}</td>
                  <td><strong>Abdomen:</strong></td>
                  <td>{{ dataConsultation.physicalExam_Abdomen }}</td>
                </tr>

                <tr>
                  <td><strong>Genitourinario GU:</strong></td>
                  <td>{{ dataConsultation.physicalExam_GU }}</td>

                  <td><strong>Musculoesquelético:</strong></td>
                  <td>{{ dataConsultation.physicalExam_Musculoskeletal }}</td>
                </tr>

                <tr>
                  <td><strong>Piel:</strong></td>
                  <td>{{ dataConsultation.physicalExam_Skin }}</td>

                  <td><strong>Observaciones:</strong></td>
                  <td>{{ dataConsultation.observations }}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        
        <!-- Resultados Paraclínicos -->
        <div class="row section-info mt-3 mb-3">
          <h6 class="title-section mb-4">RESULTADOS PARACLINICOS</h6>
          <div class="col-12">
            <p>{{ dataConsultation.paraClinicalTest }}</p>
          </div>
        </div>

      
        <!-- Diagnosticos -->
        <div class="row section-info mt-3 mb-3" *ngIf="diagnoses.length > 0">
          <h6 class="title-section mb-4">DIAGNOSTICOS</h6>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">Código</th>
                  <th>Diagnóstico</th>
                  <th style="width: 130px;">Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of diagnoses">
                  <td>{{ d.diagnosisCode }}</td>
                  <td>{{ d.diagnosisDescription }}</td>
                  <td>{{ d.diagnosisType }}</td>
                </tr>
                <tr *ngIf="hasDiagnosisWithComment">
                  <td><strong>Comentario:</strong></td>
                  <td colspan="2">{{ diagnoses[0].comment }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>



<!-- Botones -->
<div class="btn-print">
  <button class="btn" (click)="printConsultation()">
    <i class="fa fa-print"></i> Imprimir
  </button>
</div>
