 table {
  font-size: 14px;
}

.table th {
  background-color: #f8f9fa;
  font-weight: 600;
}


.button-back {
    border: none;

    padding: 3px 6px;
    color: #1AAE9F;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: white !important;
        box-shadow: 0 10px 20px rgba(41, 197, 158, 0.245);
        border: 1px solid #1AAE9F;
    }

    i {
        font-size: 20px;
    }
}
