<div class="spinner-overlay">
  <div class="d-flex flex-column align-items-center">
    <img src="assets/images/logo-cermi.png" alt="Logo" class="logo mb-3">

    <div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <h5 class="mt-3">{{ message === '' ? 'Cargando' : message }}</h5>
    <p class="mt-3">{{ info }}</p>
  </div>
</div>