.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 100000 !important;
}

.logo {
  max-width: 300px;
  height: auto;
}

.spinner-grow  {
  width: 20px;
  height: 20px;
}
