.button-back {
    border: none;

    padding: 3px 6px;
    color: #1AAE9F;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: white !important;
       // transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(41, 197, 158, 0.245);
        border: 1px solid #1AAE9F;
    }

    i {
        font-size: 20px;
    }
}

/* styles.scss o styles.css */
.modal-carta .modal-dialog {
  max-width: 816px; /* Ancho de hoja carta en px */
  width: 100%;
}

.custom-row-buttons {
    width: 100% !important;
    height: 100% !important;
    align-items: center !important;
}
   