<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <!-- <span class="mb-0">Parametrización</span> -->
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/parametrization/patients']" class="text-decoration-none text-dark">
                                Pacientes
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Historia Clinica</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Patient Info -->
    <div class="mb-4 p-3 info-history">
        <h4 class="card-title mb-3 text-center title-custom">
            INFORMACION DEL PACIENTE
        </h4>
        
        <p class="mb-1 patient-data"><strong>PACIENTE:</strong>
            {{patientData?.firstName}} {{patientData?.secondName}}
            {{patientData?.firstLastName}} {{patientData?.secondLastName}}
        </p>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <p class="mb-1"><strong>{{patientData?.documentType}}:</strong>
                    {{patientData?.idDocument}}
                </p>
    
                <p class="mb-1"><strong>TELEFONO:</strong>
                    {{patientData?.phoneNumber}}
                </p>
    
                <p class="mb-1"><strong>EDAD:</strong>
                    {{patientData?.birthDay ? getAgeFromBirthDay(patientData?.birthDay) + ' años' : 'N/A'}}
                </p>
    
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <p class="mb-1"><strong>ESTADO CIVIL:</strong>
                    {{patientData?.maritalStatus}}
                </p>
    
                <p class="mb-1"><strong>REGIMEN:</strong>
                    {{patientData?.regime}}
                </p>
    
                <p class="mb-1">
                    <strong>SEXO:</strong>
                    {{
                    patientData?.sex === 'M' ? 'Masculino' :
                    patientData?.sex === 'F' ? 'Femenino' :
                    patientData?.sex === 'I' ? 'Indeterminado' : ''
                    }}
                </p>
    
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <p class="mb-1"><strong>CIUDAD:</strong>
                    {{patientData?.municipalityName}}
                </p>
    
                <p class="mb-1"><strong>OCUPACION:</strong>
                    {{patientData?.job}}
                </p>
    
                <p class="mb-1"><strong>EPS:</strong>
                    {{patientData?.epsName}}
                </p>
            </div>
        </div>
    
    </div>

    <!-- Cards de navegación -->
    <div class="row" *ngIf="!showConsultations">

        <button class="btn btn-outline-secondary mb-3 button-back" (click)="goBackToPatients()">
            <i class="mdi mdi-chevron-left"></i>
            Listado de Pacientes
        </button>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3" (click)="showConsultations = true">
                    <i class="mdi mdi-charity"></i>
                    <h4 class="card-title mt-2">Consultas</h4>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3" (click)="navigateToMedicalHistoryList()">
        
                    <i class="ri-history-line"></i>
                    <h4 class="card-title mt-2">Antecedentes</h4>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3" (click)="navigateToParaclinicsList()">
                    <i class="mdi mdi-clipboard-edit-outline"></i>
                    <h4 class="card-title mt-2">Examenes Paraclinicos</h4>
                </div>
            </div>
        
        </div>

    </div>

    <!-- Componente MedicalConsultation -->
    <div *ngIf="showConsultations">
        <button class="btn btn-outline-secondary mb-3 button-back" (click)="showConsultations = false">
            <i class="mdi mdi-chevron-left"></i>
            Volver al inicio
        </button>

        <app-medical-consultation [idPatient]="patientData?.idPatient"
            [patientData]="patientData"></app-medical-consultation>
    </div>

</div>