<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <span class="mb-0">Parametrización</span>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/parametrization/patients']" class="text-decoration-none text-dark">
                                Pacientes
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Historia Clinica</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Patient Info -->
    <div class="card info-title">
        <div class="card-body">
            <h4 class="card-title mb-3 title-custom">
                HISTORIA CLINICA
            </h4>

            <p class="mb-1 title-patient"><strong>PACIENTE:</strong> {{patientData?.firstName}}
                {{patientData?.secondName}}
                {{patientData?.firstLastName}} {{patientData?.secondLastName}}
            </p>

            <p class="title-patient"><strong>{{patientData?.documentType}}:</strong> {{patientData?.idDocument}}</p>

            <div class="table-responsive w-100 mt-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <!-- Estado civil -->
                            <td style="width: 97px; font-weight: 500;">Estado civil:</td>
                            <td colspan="1">{{patientData?.maritalStatus}}</td>

                            <!-- Edad -->
                            <td style="width: 97px; font-weight: 500;">Edad:</td>
                            <td colspan="2">
                                {{patientData?.birthDay ? getAgeFromBirthDay(patientData?.birthDay) + ' años' : 'N/A'}}
                            </td>

                            <!-- Ciudad -->
                            <td style="width: 97px; font-weight: 500;">Ciudad:</td>
                            <td colspan="2">
                                {{patientData?.municipalityName}}
                            </td>
                        </tr>

                        <tr>
                            <!-- Ocupación -->
                            <td style="width: 97px; font-weight: 500;">Ocupación:</td>
                            <td colspan="1">{{patientData?.job}}</td>

                            <!-- Teléfono -->
                            <td style="width: 97px; font-weight: 500;">Teléfono:</td>
                            <td colspan="2">{{patientData?.phoneNumber}}</td>

                            <!-- EPS -->
                            <td style="width: 97px; font-weight: 500;">EPS:</td>
                            <td colspan="2">
                                {{ patientData.epsName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Cards de navegación -->
    <div class="row" *ngIf="!showConsultations">

        <button class="btn btn-outline-secondary mb-3 button-back" (click)="goBackToPatients()">
            <i class="mdi mdi-chevron-left"></i>
            Listado de Pacientes
        </button>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3" (click)="showConsultations = true">
                    <i class="mdi mdi-charity"></i>
                    <h4 class="card-title mt-2">Consultas</h4>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3" (click)="navigateToMedicalHistoryList()">
        
                    <i class="ri-history-line"></i>
                    <h4 class="card-title mt-2">Antecedentes</h4>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card justify-content-center custom-card text-center p-3">
                    <i class="mdi mdi-clipboard-edit-outline"></i>
                    <h4 class="card-title mt-2">Examenes Paraclinicos</h4>
                </div>
            </div>
        
        </div>

    </div>

    <!-- Componente MedicalConsultation -->
    <div *ngIf="showConsultations">
        <button class="btn btn-outline-secondary mb-3 button-back" (click)="showConsultations = false">
            <i class="mdi mdi-chevron-left"></i>
            Volver al inicio
        </button>

        <app-medical-consultation [idPatient]="patientData?.idPatient"
            [patientData]="patientData"></app-medical-consultation>
    </div>

</div>