<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <span class="mb-0">Parametrización</span>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/parametrization/patients']" class="text-decoration-none text-dark">
                                Pacientes
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Historia Clinica</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Patient Info -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-1">{{patientData.firstName}} {{patientData.secondName}} 
                {{patientData.firstLastName}} {{patientData.secondLastName}}
            </h4>
            <p>{{patientData.idDocument}}</p>
    
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="info-group">
                        <div class="info-row">
                            <span class="info-label">Dirección:</span>
                            <span class="info-value">{{patientData.address}}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-label">EPS:</span>
                            <span class="info-value">Sanitas</span>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="info-group">
                        <div class="info-row">
                            <span class="info-label">Teléfono:</span>
                            <span class="info-value">{{patientData.phoneNumber}}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-label">Ocupación:</span>
                            <span class="info-value">{{patientData.job}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card justify-content-center custom-card text-center p-3">
            <i class="mdi mdi-charity"></i>
            <h4 class="card-title mt-2">Consultas</h4>
        </div>
    </div>

     <div class="col-12 col-md-6 col-lg-3">
        <div class="card justify-content-center custom-card text-center p-3">
            <i class="mdi mdi-clipboard-edit-outline"></i>
            <h4 class="card-title mt-2">Antecedentes</h4>
        </div>
    </div>
</div> -->

<!-- Cards de navegación -->
<div class="row" *ngIf="!showConsultations">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card justify-content-center custom-card text-center p-3" (click)="showConsultations = true">
            <i class="mdi mdi-charity"></i>
            <h4 class="card-title mt-2">Consultas</h4>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card justify-content-center custom-card text-center p-3">
            <i class="mdi mdi-clipboard-edit-outline"></i>
            <h4 class="card-title mt-2">Antecedentes</h4>
        </div>
    </div>
</div>

<!-- Componente MedicalConsultation -->
<div *ngIf="showConsultations">
    <button class="btn btn-outline-secondary mb-3" (click)="showConsultations = false">
        ← Atrás
    </button>

    <app-medical-consultation [idPatient]="patientData?.idPatient"></app-medical-consultation>
</div>



</div>

