<div class="modal-header">
  <h5 class="modal-title">
    {{ prescriptionToEdit ? 'Actualizar Prescripción Médica' : 'Crear Prescripción Médica' }}
  </h5>
  <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">

    <!-- Toolbar: agregar ítems -->
    <div class="d-flex gap-2 mb-3">
      <button type="button" class="btn btn-outline-primary" (click)="addMedicationDetail()">
        <i class="mdi mdi-plus"></i> Agregar Medicamento
      </button>

      <button type="button" class="btn btn-outline-secondary" (click)="addEquipmentDetail()">
        <i class="mdi mdi-plus"></i> Agregar Equipo Médico
      </button>
    </div>

    <!-- Lista de detalles (mezclados) -->
    <div formArrayName="details">
      <div *ngFor="let detail of details.controls; let i = index" [formGroupName]="i" class="card-custom border p-2 mb-4 rounded">

        <div class="title-card d-flex justify-content-between align-items-center">
          <h5 class="mb-0">
            {{ detail.get('type')?.value === 'medicine' ? 'Medicamento' : 'Equipo Médico' }} {{ i + 1 }}
          </h5>
          <button class="btn btn-sm btn-soft-danger" type="button" (click)="removeDetail(i)" *ngIf="details.length > 0">
            <i class="mdi mdi-delete-outline"></i>
          </button>
        </div>

        <!-- BLOQUE: Medicamento -->
        <ng-container *ngIf="detail.get('type')?.value === 'medicine'">
          <!-- Autocomplete medicamentos -->
          <div class="mb-2 position-relative">
            <label>Medicamento</label>
            <input type="text"
                   class="form-control"
                   formControlName="medicineName"
                   placeholder="Busque un medicamento"
                   (input)="onMedicineInput($event.target.value, i)"
                   (keydown.enter)="$event.preventDefault()" [ngClass]="{'is-invalid': submitted && detail.get('idMedicine')?.invalid}"/>
            <ul class="list-group position-absolute w-100" *ngIf="showMedicinesDropdown[i]">
              <li class="list-group-item" *ngFor="let med of medicinesSuggestions[i]" (click)="selectMedicine(med, i)">
                {{ med.commercialName }} - {{ med.activeIngredient }}
              </li>
              <li class="li-custom d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-light" (click)="previousPage(i)"
                        [disabled]="medicinesPaginator[i].pageIndex === 1">Anterior</button>
                <span>Página {{ medicinesPaginator[i].pageIndex }} de {{ totalPagesByDetail[i] || 1 }}</span>
                <button type="button" class="btn btn-sm btn-light" (click)="nextPage(i)"
                        [disabled]="medicinesPaginator[i].pageIndex >= (totalPagesByDetail[i] || 1)">Siguiente</button>
              </li>
            </ul>

             <div *ngIf="submitted && detail.get('idMedicine')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
          </div>

          <div class="row g-2">
            <div class="col-12 col-md-3">
              <label>Dosis</label>
              <input type="text" formControlName="dosage" class="form-control"
              [ngClass]="{'is-invalid': submitted && detail.get('dosage')?.invalid}">
              <div *ngIf="submitted && detail.get('dosage')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
            </div>
            <div class="col-12 col-md-3">
              <label>Frecuencia</label>
              <input type="text" formControlName="frequency" class="form-control"
              [ngClass]="{'is-invalid': submitted && detail.get('frequency')?.invalid}">
              <div *ngIf="submitted && detail.get('frequency')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
            </div>
            <div class="col-12 col-md-3">
              <label>Duración</label>
              <input type="text" formControlName="duration" class="form-control"
              [ngClass]="{'is-invalid': submitted && detail.get('duration')?.invalid}">
              <div *ngIf="submitted && detail.get('duration')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
            </div>
            <div class="col-12 col-md-3">
              <label>Cantidad</label>
              <input type="text" formControlName="quantity" class="form-control"
              [ngClass]="{'is-invalid': submitted && detail.get('quantity')?.invalid}">
              <div *ngIf="submitted && detail.get('quantity')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
            </div>
          </div>
        </ng-container>

        <!-- BLOQUE: Equipo médico -->
        <ng-container *ngIf="detail.get('type')?.value === 'equipment'">
          <div class="mb-2 position-relative">
            <label>Equipo Médico</label>
            <input type="text"
                   class="form-control"
                   formControlName="equipmentName"
                   placeholder="Busque un equipo médico"
                   (input)="onEquipmentInput($event.target.value, i)"
                   (keydown.enter)="$event.preventDefault()" 
                   [ngClass]="{'is-invalid': submitted && detail.get('idMedicalEquipment')?.invalid}"/>
            <ul class="list-group position-absolute w-100" *ngIf="showEquipmentsDropdown[i]">
              <li class="list-group-item" *ngFor="let eq of equipmentSuggestions[i]" (click)="selectEquipment(eq, i)">
                {{ eq.equipmentName }} - {{ eq.brand }}
              </li>
            </ul>
            <div *ngIf="submitted && detail.get('idMedicalEquipment')?.invalid" class="invalid-feedback">
              Este campo es requerido.
             </div>
          </div>
        </ng-container>

        <!-- Común -->
        <div class="mt-2">
          <label>Instrucciones</label>
          <textarea formControlName="instructions" class="form-control" rows="2"></textarea>
        </div>

      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">Cancelar</button>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">
    Guardar
  </button>
</div>
