<div class="row">
  <div class="col-12">


    <div class="row justify-content-between align-items-center">
      <h4 class="mt-2 mb-4 title w-auto">
        {{ consultationToEdit ? 'Actualizar Consulta' : 'Crear Consulta' }}
      </h4>

      <h6 class="w-auto">
        <strong>Fecha:</strong> {{ form.get('basicInfo.consultationDate')?.value | date:'dd/MM/yyyy' }}
      </h6>
    </div>


    <div class="stepper-container">
      <button class="scroll-btn left" type="button" (click)="scrollStepper(-240)">
        <i class="mdi mdi-chevron-left"></i>
      </button>

      <div class="stepper-wrapper" #stepperWrapper>
        <div class="custom-stepper">
          <!-- Paso 1 -->
          <div class="step" data-step="1" [class.active]="currentStep === 1" (click)="goToStep(1)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Motivo de Consulta</span>
          </div>

          <!-- Paso 2 -->
          <div class="step" data-step="2" [class.active]="currentStep === 2" (click)="goToStep(2)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Estado General</span>
          </div>

          <!-- Paso 3 -->
          <div class="step" data-step="3" [class.active]="currentStep === 3" (click)="goToStep(3)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Signos Vitales</span>
          </div>

          <!-- Paso 4 -->
          <div class="step" data-step="4" [class.active]="currentStep === 4" (click)="goToStep(4)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Examen Físico</span>
          </div>

          <!-- Paso 5: Paraclínicos -->
          <div class="step" data-step="5" [class.active]="currentStep === 5" (click)="goToStep(5)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Resultados Paraclínicos</span>
          </div>

          <!-- Paso 6: Antecedentes (solo admin) -->
          <div class="step" *ngIf="idRol !== 2" data-step="6" [class.active]="currentStep === 6" (click)="goToStep(6)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Antecedentes</span>
          </div>

          <!-- Paso 7: Diagnósticos (solo admin) -->
          <div class="step" *ngIf="idRol !== 2" data-step="7" [class.active]="currentStep === 7" (click)="goToStep(7)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Diagnósticos</span>
          </div>

          <!-- Paso 8: Cierre -->
          <div class="step" data-step="8" [class.active]="currentStep === 8" (click)="goToStep(8)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Cierre de Consulta</span>
          </div>
        </div>
      </div>

      <button class="scroll-btn right" type="button" (click)="scrollStepper(240)">
        <i class="mdi mdi-chevron-right"></i>
      </button>
    </div>

    <!-- STEP CONTENT -->
    <div class="step-content">

      <form [formGroup]="form" [class.readonly-form]="consultationToEdit?.status">

        <!-- Paso 1: Motivo -->
        <div *ngIf="currentStep === 1" formGroupName="basicInfo">
          <div class="col-12 mb-3">
            <label>Motivo de Consulta
              <span class="text-danger">*</span>
            </label>
            <textarea class="form-control mb-2" formControlName="consultationReason" rows="1"
              [ngClass]="{ 'is-invalid': submitted && form.get('basicInfo.consultationReason')?.invalid }">
                      </textarea>
          
            @if(submitted && form.get('basicInfo.consultationReason')?.errors) {
            <div class="invalid-feedback">
              @if(form.get('basicInfo.consultationReason')?.errors['required']) {
              <span>Este campo es obligatorio.</span>
              }
            </div>
            }
          </div>

          <div class="col-12 mb-3">
            <label>Enfermedad Actual</label>
            <textarea class="form-control mb-2" formControlName="currentIllness" rows="4"></textarea>
          </div>

          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <input type="checkbox" formControlName="isFirstTime" class="form-check-input me-1" id="firstTimeCheck" />
              <label for="firstTimeCheck" class="form-check-label">Es primera vez</label>
            </div>

            <div class="col-12 col-lg-6">
              <div class="form-check form-switch form-switch-lg mb-3">
                <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" formControlName="status" checked
                  disabled>
                <label class="form-check-label" for="SwitchCheckSizelg">
                  {{ form.get('basicInfo.status')?.value ? 'CERRADO' : 'PENDIENTE' }}
                </label>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <button type="button" class="btn btn-primary" (click)="goToStep(2)">Siguiente</button>
          </div>
        </div>

        <!-- Paso 2: Estados clínicos -->
        <div *ngIf="currentStep === 2" formGroupName="clinicalStates">

          <div class="row mt-4">

            <div class="col-12 col-md-6 col-lg-6 mb-3">
              <label>Estado de Hidratación</label>

              <select id="hydrationStatus" name="hydrationStatus" class="form-control" formControlName="hydrationStatus"
                placeholder="Selecciona una opción">
                <option value="Hidratado">Hidratado</option>
                <option value="Deshidratado">Deshidratado</option>
              </select>
            </div>

            <div class="col-12 col-md-6 col-lg-6 mb-3">
              <label>Nivel de Glasgow</label>
              <select id="glasgowScore" name="glasgowScore" class="form-control" formControlName="glasgowScore"
                placeholder="Selecciona una opción">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado de Conciencia</label>

              <select id="consciousnessStatus" name="consciousnessStatus" class="form-control"
                formControlName="consciousnessStatus" placeholder="Selecciona una opción">
                <option value="Alerta">Alerta</option>
                <option value="Letargo">Letargo</option>
                <option value="Obnubilación">Obnubilación</option>
                <option value="Estupor">Estupor</option>
                <option value="Coma">Coma</option>
              </select>
            </div>

            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado de Respiración</label>
              <input class="form-control" type="text" formControlName="respiratoryStatus" />
            </div>

            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado General</label>
              <input class="form-control" type="text" formControlName="generalStatus" />
            </div>
          </div>



          <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(1)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(3)">Siguiente</button>
          </div>
        </div>

        <!-- Paso 3: Signos Vitales -->
        <div *ngIf="currentStep === 3" formGroupName="vitalSigns">
          <div class="row mt-4">
              <div class="col-md-4 mb-3">
                <label>Presión Arterial</label>
                <input formControlName="vitalSigns_BP" type="string" class="form-control" placeholder="Ej: 120/80" />
              </div>

              <div class="col-md-4 mb-3">
                <label>Frecuencia Cardíaca</label>
                <input formControlName="vitalSigns_HR" type="number" class="form-control" />
              </div>

              <div class="col-md-4 mb-3">
                <label>Frecuencia Respiratoria</label>
                <input formControlName="vitalSigns_RR" type="number" class="form-control" />
              </div>

              <div class="col-12 col-lg-6 mb-3">
                <label>Temperatura</label>
                <input formControlName="vitalSigns_Temp" type="number" class="form-control" step="0.1" />
              </div>

              <div class="col-12 col-lg-6 mb-3">
                <label>Saturación de Oxígeno SpO2</label>
                <input formControlName="vitalSigns_SPO2" type="number" class="form-control" />
              </div>

               <div class="col-md-4 mb-3">
                <label>Peso (Kg)</label>
                <input class="form-control" type="number" formControlName="weightKg" />
              </div>

              <div class="col-md-4 mb-3">
                <label>Talla (cms)</label>
                <input class="form-control" type="text" formControlName="heightCm" />
              </div>

              <div class="col-md-4 mb-3">
                <label>IMC</label>
                <input class="form-control" type="number" formControlName="bmi" readonly />
              </div>
          </div>

          <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(2)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(4)">Siguiente</button>
          </div>
        </div>

        <!-- Paso 4: Examen Físico -->
        <div *ngIf="currentStep === 4" formGroupName="physicalExam">
          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Cabeza y Cuello</label>
              <textarea formControlName="physicalExam_HeadNeck" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Tórax</label>
              <textarea formControlName="physicalExam_Chest" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Corazón</label>
              <textarea formControlName="physicalExam_Heart" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Abdomen</label>
              <textarea formControlName="physicalExam_Abdomen" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Genitourinario GU</label>
              <textarea formControlName="physicalExam_GU" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Musculoesquelético</label>
              <textarea formControlName="physicalExam_Musculoskeletal" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Neurológico</label>
              <textarea formControlName="physicalExam_Neuro" type="text" class="form-control"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Piel</label>
              <textarea formControlName="physicalExam_Skin" type="text" class="form-control"></textarea>
            </div>
          </div>

          <!-- Observaciones -->
          <div class="mb-3">
            <label>Observaciones</label>
            <textarea formControlName="observations" type="text" class="form-control" rows="3"></textarea>
          </div>

          <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(3)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(5)">Siguiente</button>
          </div>
        </div>

        <!-- Paso 5: Paraclínicos -->
        <div *ngIf="currentStep === 5" formGroupName="paraClinicals">
          <div class="col-12">
            <label>Paraclínicos</label>
            <textarea class="form-control mb-2" formControlName="paraClinicalTest" rows="5"></textarea>
          </div>

          <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(4)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="idRol !== 2 ? goToStep(6) : goToStep(7)">
              Siguiente
            </button>
          </div>
        </div>

        <!-- Paso 6: Antecedentes (solo admin) -->
        <div *ngIf="currentStep === 6 && idRol !== 2">
          <div *ngIf="lastMedicalHistory; else noData">
          
            <div *ngIf="lastMedicalHistory; else noData">
              <h5>Último antecedente (creado el {{ lastMedicalHistory.createdAt | date:'dd/MM/yyyy' }})</h5>

              <div class="row mt-4">
                <div class="col-12 mb-2">
                  <strong>Patológicos:</strong> {{ lastMedicalHistory.pathologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Quirúrgicos:</strong> {{ lastMedicalHistory.surgicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Alergias:</strong> {{ lastMedicalHistory.allergicHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Farmacológicos:</strong> {{ lastMedicalHistory.pharmacologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Familiares:</strong> {{ lastMedicalHistory.familyHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Gineco-Obstétricos:</strong> {{ lastMedicalHistory.gynecoObstetricHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Ocupacionales:</strong> {{ lastMedicalHistory.occupationalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Psiquiátricos:</strong> {{ lastMedicalHistory.psychiatricHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Traumáticos:</strong> {{ lastMedicalHistory.traumaticHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Inmunológicos:</strong> {{ lastMedicalHistory.immunologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Observaciones:</strong> {{ lastMedicalHistory.observations || 'NO APLICA' }}
                </div>

                <div class="col-md-3 mb-2">
                  <strong>Fumador:</strong> {{ lastMedicalHistory.smoker ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Años fumando:</strong> {{ lastMedicalHistory.smokingYears || 'NO APLICA' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Cigarrillos por día:</strong> {{ lastMedicalHistory.cigarettesPerDay || 'NO APLICA' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Índice tabáquico:</strong> {{ lastMedicalHistory.smokingIndex || 'NO APLICA' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Consume alcohol:</strong> {{ lastMedicalHistory.alcoholConsumer ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Frecuencia de consumo de alcohol:</strong> {{ lastMedicalHistory.alcoholFrequency || 'NO
                  APLICA' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Uso de drogas:</strong> {{ lastMedicalHistory.drugUse ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Detalle drogas:</strong> {{ lastMedicalHistory.drugDetails || 'NO APLICA' }}
                </div>
              </div> 
            </div>
          </div>

          <ng-template #noData>
            <p>No hay antecedentes previos registrados.</p>
          </ng-template>

          <div class="mt-3">
            <button type="button" class="btn btn-primary" (click)="openCreateMedicalHistoryModal()">
              {{ lastMedicalHistory ? 'Editar' : 'Crear' }}
            </button>
          </div>

          <div class="mt-3">
              <button type="button" class="btn btn-light me-2" (click)="goToStep(5)">Atrás</button>
              <button type="button" class="btn btn-primary" (click)="goToStep(7)">Siguiente</button>
          </div>
        </div>

        <!-- Paso 7: Diagnósticos (solo admin) -->

        @if(currentStep === 7 && (idRol === 1 || idRol === 3) && diagnoses?.controls){
          <div formArrayName="diagnoses">
            <h5 class="mt-4">Diagnósticos</h5>
          
            <div *ngFor="let diag of diagnoses.controls; let i = index" [formGroupName]="i" class="card-custom border p-3 mb-4">
          
              <!-- Título dinámico -->
          
              <div class="title-card">
                <h5 class="mb-3">Diagnóstico {{ i + 1 }}</h5>
          
                @if(!consultationToEdit) {
                  <button class="btn btn-sm btn-soft-danger" [class.readonly-form]="consultationToEdit?.status"
                    (click)="removeDiagnosis(i)" *ngIf="diagnoses.length > 1" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Eliminar">
                    <i class="mdi mdi-delete-outline"></i>
                  </button>
                }
              </div>
          
          
              <div class="row">
                <div class="col-md-4 mb-2 position-relative">
                  <label>Código</label>
                  <input type="text" formControlName="diagnosisCode" class="form-control"
                    (input)="onCodeInput($event.target.value, i)" autocomplete="off" />
                  <ul class="list-group position-absolute w-100" style="z-index:10; max-height:200px; overflow-y:auto;">
                    <li *ngFor="let item of codeSuggestions[i]" class="list-group-item list-group-item-action"
                      (mousedown)="selectSuggestion(item, i)">
                      {{ item.codigo }}
                    </li>
                  </ul>
                </div>
          
                <div class="col-md-8 mb-2 position-relative">
                  <label>Nombre</label>
                  <input type="text" formControlName="diagnosisDescription" class="form-control"
                    (input)="onDescriptionInput($event.target.value, i)" autocomplete="off" />
                  <ul class="list-group position-absolute w-100" style="z-index:10; max-height:200px; overflow-y:auto;">
                    <li *ngFor="let item of descriptionSuggestions[i]" class="list-group-item list-group-item-action"
                      (mousedown)="selectSuggestion(item, i)">
                      {{ item.nombre }}
                    </li>
                  </ul>
                </div>
          
                <div class="col-12 mb-2">
                  <label>Tipo</label>
                  <select formControlName="diagnosisType" class="form-control" (change)="onDiagnosisTypeChange(i)">
                    <option *ngFor="let type of diagnosisTypes" [ngValue]="type">{{ type.diagnosisType }}</option>
                  </select>
                </div>
          
                <div class="col-md-12 mt-2 mb-2">
                  <label>Comentario (opcional)</label>
                  <textarea formControlName="comment" class="form-control"></textarea>
                </div>
          
                <div class="col-md-6 mt-2">
                  <input type="checkbox" formControlName="isPrincipal" />
                  <label class="ms-1">Principal</label>
                </div>
          
              </div>
            </div>
          
            @if(!consultationToEdit?.status) {
            <button type="button" class="btn btn-primary mt-2 mb-5" (click)="addDiagnosis()">
              <i class="mdi mdi-plus mr-1"></i>
              Agregar
            </button>
            }
          
          
            <div class="mt-3">
              <button type="button" class="btn btn-light me-2" (click)="goToStep(idRol !== 2 ? 6 : 5)">Atrás</button>
              <button type="button" class="btn btn-primary" (click)="goToStep(8)">Siguiente</button>
            </div>
          </div>
        }

        <!-- Paso 8: Cierre -->
        <div *ngIf="currentStep === 8" formGroupName="closeConsultation">
          <div class="row">
            <!-- Condición de Salida  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idExitCondition" class="form-label">
                  Condición de Salida
                  
                </label>
                <div class="input-group">
                  <select id="idExitCondition" class="form-control" formControlName="idExitCondition">
                    <option [ngValue]="null">Selecciona una condición de salida</option>
                    <option *ngFor="let index of exitConditions" [ngValue]="index.idExitCondition">
                      {{ index.exitConditionName }}
                    </option>
                  </select>
                  
                </div>
              </div>
            </div>


            <!-- Causa Externa  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idExternalCauseCode" class="form-label">
                  Causa Externa
                </label>
                <div class="input-group">
                  <select id="idExternalCauseCode" class="form-control" formControlName="idExternalCauseCode">
                    <option [ngValue]="null">Selecciona una causa externa</option>
                    <option *ngFor="let index of externalCauses" [ngValue]="index.idExternalCauseCode">
                      {{ index.externalCauseName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>


            <!-- Finalidad de Consulta  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idConsultationFinality" class="form-label">
                  Finalidad de Consulta
                </label>
                <div class="input-group">
                  <select id="idConsultationFinality" class="form-control" formControlName="idConsultationFinality">
                    <option [ngValue]="null">Selecciona una finalidad de consulta</option>
                    <option *ngFor="let index of consultationFinalities" [ngValue]="index.idConsultationFinality">
                      {{ index.consultationFinalityName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Guardar Datos -->
        <div class="mt-4 text-end gap-3">
          <button type="button" class="btn btn-light" (click)="back()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Guardar</button>
        </div>


      </form>

    </div>

  </div>

</div>