<!-- Patient Info -->
 @if(patientData) {
  <div class="mb-4 p-3 info-history">
    <h4 class="card-title mb-3 text-center title-custom">
      INFORMACION DEL PACIENTE
    </h4>
  
    <p class="mb-1 patient-data"><strong>PACIENTE:</strong>
      {{patientData?.firstName}} {{patientData?.secondName}}
      {{patientData?.firstLastName}} {{patientData?.secondLastName}}
    </p>
  
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
  
        <p class="mb-1"><strong>{{patientData?.documentType}}:</strong>
          {{patientData?.idDocument}}
        </p>
  
        <p class="mb-1"><strong>TELEFONO:</strong>
          {{patientData?.phoneNumber}}
        </p>
  
        <p class="mb-1"><strong>EDAD:</strong>
          {{patientData?.birthDay ? getAgeFromBirthDay(patientData?.birthDay) + ' años' : 'N/A'}}
        </p>
  

        <p class="mb-1">
          <strong>FECHA DE NACIMIENTO:</strong>
          {{ patientData?.birthDay | date:'dd/MM/yyyy' }}
        </p>

      </div>
  
      <div class="col-12 col-md-6 col-lg-4">
        <p class="mb-1"><strong>ESTADO CIVIL:</strong>
          {{patientData?.maritalStatus}}
        </p>
  
        <p class="mb-1"><strong>REGIMEN:</strong>
          {{patientData?.regime}}
        </p>
  
        <p class="mb-1">
          <strong>SEXO:</strong>
          {{
          patientData?.sex === 'M' ? 'Masculino' :
          patientData?.sex === 'F' ? 'Femenino' :
          patientData?.sex === 'I' ? 'Indeterminado' : ''
          }}
        </p>
  
      </div>
  
      <div class="col-12 col-md-6 col-lg-4">
        <p class="mb-1"><strong>CIUDAD:</strong>
          {{patientData?.municipalityName}}
        </p>
  
        <p class="mb-1"><strong>OCUPACION:</strong>
          {{patientData?.job}}
        </p>
  
        <p class="mb-1"><strong>EPS:</strong>
          {{patientData?.epsName}}
        </p>
      </div>
    </div>
  
  </div>
 }

<div class="row">
  <div class="col-12">


    <div class="row justify-content-between align-items-center">
      <h4 class="mt-2 mb-4 title w-auto">
        {{ consultationToEdit ? 'Actualizar Consulta' : 'Crear Consulta' }}
      </h4>

      <h6 class="w-auto">
        <strong>Fecha:</strong> {{ form.get('basicInfo.consultationDate')?.value | date:'dd/MM/yyyy' }}
      </h6>
    </div>

    <div class="row content-consultation">


    <div class="stepper-container">
      <button class="scroll-btn left" type="button" (click)="scrollStepper(-240)">
        <i class="mdi mdi-chevron-left"></i>
      </button>

      <div class="stepper-wrapper" #stepperWrapper>
        <div class="custom-stepper">
          <!-- Motivo de Consulta -->
          <div class="step" data-step="1" [class.active]="currentStep === 1" (click)="goToStep(1)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Motivo de Consulta</span>
          </div>

            <!-- Antecedentes (solo admin) -->
          <div class="step" *ngIf="idRol !== 2" data-step="2" [class.active]="currentStep === 2" (click)="goToStep(2)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Antecedentes</span>
          </div>

          <!-- Estado General -->
          <div class="step" data-step="3" [class.active]="currentStep === 3" (click)="goToStep(3)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Estado General</span>
          </div>

          <!-- Signos Vitales -->
          <div class="step" data-step="4" [class.active]="currentStep === 4" (click)="goToStep(4)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Signos Vitales</span>
          </div>

          <!-- Examen Físico -->
          <div class="step" data-step="5" [class.active]="currentStep === 5" (click)="goToStep(5)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Examen Físico</span>
          </div>

          <!-- Paraclínicos -->
          <div class="step" data-step="6" [class.active]="currentStep === 6" (click)="goToStep(6)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Resultados Paraclínicos</span>
          </div>

          <!-- Diagnósticos (solo admin) -->
          <div class="step" *ngIf="idRol !== 2" data-step="7" [class.active]="currentStep === 7" (click)="goToStep(7)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Diagnósticos</span>
          </div>

          <!-- Analisis o Concepto -->
          <div class="step" data-step="8" [class.active]="currentStep === 8" (click)="goToStep(8)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Análisis o Concepto</span>
          </div>


          <!-- Cierre -->
          <div class="step" data-step="9" [class.active]="currentStep === 9" (click)="goToStep(9)">
            <i class="ri-pencil-fill"></i>
            <span class="step-label">Cierre de Consulta</span>
          </div>
        </div>
      </div>

      <button class="scroll-btn right" type="button" (click)="scrollStepper(240)">
        <i class="mdi mdi-chevron-right"></i>
      </button>
    </div>

    <!-- INFO ESTADO CONSULTA -->
    <div class="info-status-consultation" *ngIf="idRol === 1 && consultationToEdit?.status">
      CONSULTA CERRADA, Editable (Rol Administrador).
    </div>


    <!-- STEP CONTENT -->
    <div class="step-content">

      <form [formGroup]="form" [class.readonly-form]="consultationToEdit?.status && idRol !== 1">

        <!-- Motivo -->
        <div *ngIf="currentStep === 1" formGroupName="basicInfo">
          <div class="col-12 mb-3">
            <label>Motivo de Consulta
              <span class="text-danger">*</span>
            </label>
            <textarea class="form-control mb-2" formControlName="consultationReason" rows="1"
              [readonly]="isReadOnlyForm"
              [ngClass]="{ 'is-invalid': submitted && form.get('basicInfo.consultationReason')?.invalid }">
                      </textarea>
          
            @if(submitted && form.get('basicInfo.consultationReason')?.errors) {
            <div class="invalid-feedback">
              @if(form.get('basicInfo.consultationReason')?.errors['required']) {
              <span>Este campo es obligatorio.</span>
              }
            </div>
            }
          </div>

          <div class="col-12 mb-3">
            <label>Enfermedad Actual</label>
            <textarea class="form-control mb-2" formControlName="currentIllness" rows="4" [readonly]="isReadOnlyForm"></textarea>
          </div>

            <!-- Médico Tratante -->
            <div class="col-12">
              <div class="mb-2">
                <label for="idUser" class="form-label">
                  Médico Tratante
                </label>
                <div class="input-group">
                  <select id="idUser" class="form-control" formControlName="idUser"
                    [ngClass]="{ 'is-invalid': submitted && form.get('basicInfo.idUser')?.invalid }">
                    <option [ngValue]="null" disabled selected>
                      Seleccione un médico
                    </option>
                    <option *ngFor="let index of doctors" [ngValue]="index.idUser">
                      {{ index.name }} {{ index.secondName }} {{ index.lastName }} {{ index.secondLastName }}
                    </option>
                  </select>
            
                  @if(submitted && form.get('basicInfo.idUser')?.errors) {
                  <div class="invalid-feedback">
                    @if(form.get('basicInfo.idUser')?.errors['required']) {
                    <span>Este campo es obligatorio.</span>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>

          <div class="row mt-4">
          
            <!--  Codigo CUPS  -->
            <div class="col-12 col-lg-6 col-md-6">
              <div class="mb-2">
                <label for="idExitCondition" class="form-label">
                  Codigo CUPS
                </label>
                <div class="input-group">
                  <select id="idCupsCode" class="form-control" formControlName="idCupsCode">
                    <option [ngValue]="null" disabled selected>
                      Seleccione una opción
                    </option>
                    <option *ngFor="let index of cupsCodes" [ngValue]="index.idCupsCode">
                      {{ index.name }}
                    </option>
                  </select>
          
                </div>
              </div>
            </div>

             <!--  Servicios Medicos  -->
            <div class="col-12 col-lg-6 col-md-6">
              <div class="mb-2">
                <label for="idExitCondition" class="form-label">
                  Servicio Medico
                </label>
                <div class="input-group">
                  <select id="idMedicalServices" class="form-control" formControlName="idMedicalServices">
                    <option [ngValue]="null" disabled selected>
                      Seleccione una opción
                    </option>
                    <option *ngFor="let index of medicalServices" [ngValue]="index.idMedicalServices">
                      {{ index.serviceName }} - {{ index.serviceDescription }}
                    </option>
                  </select>
          
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <!-- Grupo Servicios -->
            <div class="col-12 col-lg-6 col-md-6">
              <label>Grupo de Servicios</label>
              <select formControlName="groupServiceCode" class="form-control">
                <option [ngValue]="null" disabled selected>
                  Seleccione una opción
                </option>
                <option *ngFor="let index of groupServices" [ngValue]="index.code">{{ index.description }}</option>
              </select>
            </div>

            <!--  Modalidades de Atención  -->
            <div class="col-12 col-lg-6 col-md-6">
              <div class="mb-2">
                <label for="idExitCondition" class="form-label">
                  Modalidad de Atención
                </label>
                <div class="input-group">
                  <select id="idModalityAttention" class="form-control" formControlName="idModalityAttention">
                    <option [ngValue]="null" disabled selected>
                      Seleccione una opción
                    </option>
                    <option *ngFor="let index of modalitiesAttention" [ngValue]="index.idModalityAttention">
                      {{ index.modalityAttentionName }}
                    </option>
                  </select>
          
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-4">
          
            <div class="col-12 col-lg-6">
              <input type="checkbox" formControlName="isFirstTime" class="form-check-input me-1" id="firstTimeCheck" />
              <label for="firstTimeCheck" class="form-check-label">Es primera vez</label>
            </div>
          
          </div>
        </div>

        <!-- Antecedentes (solo admin) -->
        <div *ngIf="currentStep === 2 && idRol !== 2">
          <div *ngIf="lastMedicalHistory; else noData">
          
            <div *ngIf="lastMedicalHistory; else noData">
              <h5>Último antecedente (creado el {{ lastMedicalHistory.createdAt | date:'dd/MM/yyyy' }})</h5>

              <div class="row mt-4">
                <div class="col-12 mb-2">
                  <strong>Patológicos:</strong> {{ lastMedicalHistory.pathologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Quirúrgicos:</strong> {{ lastMedicalHistory.surgicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Alergias:</strong> {{ lastMedicalHistory.allergicHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Farmacológicos:</strong> {{ lastMedicalHistory.pharmacologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Familiares:</strong> {{ lastMedicalHistory.familyHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Gineco-Obstétricos:</strong> {{ lastMedicalHistory.gynecoObstetricHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Ocupacionales:</strong> {{ lastMedicalHistory.occupationalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Psiquiátricos:</strong> {{ lastMedicalHistory.psychiatricHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Traumáticos:</strong> {{ lastMedicalHistory.traumaticHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Inmunológicos:</strong> {{ lastMedicalHistory.immunologicalHistory || 'NO APLICA' }}
                </div>
                <div class="col-12 mb-2">
                  <strong>Observaciones:</strong> {{ lastMedicalHistory.observations || 'NO APLICA' }}
                </div>

                <div class="col-md-3 mb-2">
                  <strong>Fumador:</strong> {{ lastMedicalHistory.smoker ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Años fumando:</strong> {{ lastMedicalHistory.smokingYears || 'NO APLICA' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Cigarrillos por día:</strong> {{ lastMedicalHistory.cigarettesPerDay || 'NO APLICA' }}
                </div>
                <div class="col-md-3 mb-2">
                  <strong>Índice tabáquico:</strong> {{ lastMedicalHistory.smokingIndex || 'NO APLICA' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Consume alcohol:</strong> {{ lastMedicalHistory.alcoholConsumer ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Frecuencia de consumo de alcohol:</strong> {{ lastMedicalHistory.alcoholFrequency || 'NO
                  APLICA' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Uso de drogas:</strong> {{ lastMedicalHistory.drugUse ? 'Sí' : 'No' }}
                </div>
                <div class="col-md-6 mb-2">
                  <strong>Detalle drogas:</strong> {{ lastMedicalHistory.drugDetails || 'NO APLICA' }}
                </div>
              </div> 
            </div>
          </div>

          <ng-template #noData>
            <p>No hay antecedentes previos registrados.</p>
          </ng-template>

          <div class="mt-3" *ngIf="!(consultationToEdit?.status && (idRol === 2 || idRol === 3))">
            <button type="button" class="btn btn-primary" (click)="openCreateMedicalHistoryModal()">
              {{ lastMedicalHistory ? 'Editar' : 'Crear' }}
            </button>
          </div>

         <!--  <div class="mt-3">
              <button type="button" class="btn btn-light me-2" (click)="goToStep(5)">Atrás</button>
              <button type="button" class="btn btn-primary" (click)="goToStep(7)">Siguiente</button>
          </div> -->
        </div>

        <!-- Estados clínicos -->
        <div *ngIf="currentStep === 3" formGroupName="clinicalStates">

          <div class="row mt-4">

            <div class="col-12 col-md-6 col-lg-6 mb-3">
              <label>Estado de Hidratación</label>

              <select id="hydrationStatus" name="hydrationStatus" class="form-control" formControlName="hydrationStatus"
                placeholder="Selecciona una opción">
                <option value="Hidratado">Hidratado</option>
                <option value="Deshidratado">Deshidratado</option>
              </select>
            </div>

            <div class="col-12 col-md-6 col-lg-6 mb-3">
              <label>Nivel de Glasgow</label>
              <select id="glasgowScore" name="glasgowScore" class="form-control" formControlName="glasgowScore"
                placeholder="Selecciona una opción">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado de Conciencia</label>

              <select id="consciousnessStatus" name="consciousnessStatus" class="form-control"
                formControlName="consciousnessStatus" placeholder="Selecciona una opción">
                <option value="Alerta">Alerta</option>
                <option value="Letargo">Letargo</option>
                <option value="Obnubilación">Obnubilación</option>
                <option value="Estupor">Estupor</option>
                <option value="Coma">Coma</option>
              </select>
            </div>

            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado de Respiración</label>
              <input class="form-control" type="text" formControlName="respiratoryStatus" [readonly]="isReadOnlyForm" />
            </div>

            <div class="col-12 col-md-4 col-lg-4 mb-3">
              <label>Estado General</label>
              <input class="form-control" type="text" formControlName="generalStatus" [readonly]="isReadOnlyForm" />
            </div>
          </div>

         <!--  <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(1)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(3)">Siguiente</button>
          </div> -->
        </div>

        <!-- Signos Vitales -->
        <div *ngIf="currentStep === 4" formGroupName="vitalSigns">
          <div class="row mt-4">
              <div class="col-md-4 mb-3">
                <label>Presión Arterial</label>
                <input formControlName="vitalSigns_BP" type="string" class="form-control" placeholder="Ej: 120/80" [readonly]="isReadOnlyForm" />
              </div>

              <div class="col-md-4 mb-3">
                <label>Frecuencia Cardíaca</label>
                <input formControlName="vitalSigns_HR" type="number" class="form-control" [readonly]="isReadOnlyForm" />
              </div>

              <div class="col-md-4 mb-3">
                <label>Frecuencia Respiratoria</label>
                <input formControlName="vitalSigns_RR" type="number" class="form-control" [readonly]="isReadOnlyForm" />
              </div>

              <div class="col-12 col-lg-6 mb-3">
                <label>Temperatura</label>
                <input formControlName="vitalSigns_Temp" type="number" class="form-control" step="0.1" [readonly]="isReadOnlyForm" />
              </div>

              <div class="col-12 col-lg-6 mb-3">
                <label>Saturación de Oxígeno SpO2</label>
                <input formControlName="vitalSigns_SPO2" type="number" class="form-control" [readonly]="isReadOnlyForm" />
              </div>

               <div class="col-md-4 mb-3">
                <label>Peso (Kg)</label>
                <input class="form-control" type="number" formControlName="weightKg" [readonly]="isReadOnlyForm" />
              </div>

             
              <div class="col-md-4 mb-3">
                <label>Estatura (cm) <span class="text-danger">*</span></label>
                <input type="number" class="form-control" formControlName="heightCm" [readonly]="isReadOnlyForm"
                  [ngClass]="{ 'is-invalid': (submitted || form.get('vitalSigns.heightCm')?.touched) && form.get('vitalSigns.heightCm')?.invalid }">
              
                @if((submitted || form.get('vitalSigns.heightCm')?.touched) && form.get('vitalSigns.heightCm')?.errors) {
                <div class="invalid-feedback">
                  @if(form.get('vitalSigns.heightCm')?.errors['notInteger']) {
                  <span>Ingrese la estatura en centímetros sin decimales (ej: 175, no 1.75).</span>
                  }
                  @if(form.get('vitalSigns.heightCm')?.errors['outOfRange']) {
                  <span>Ingrese una estatura válida entre 30 cm y 300 cm.</span>
                  }
                </div>
                }
              </div>


              <div class="col-md-4 mb-3">
                <label>IMC</label>
                <input class="form-control" type="number" formControlName="bmi" readonly />
              </div>
          </div>

          <!-- <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(2)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(4)">Siguiente</button>
          </div> -->
        </div>

        <!-- Examen Físico -->
        <div *ngIf="currentStep === 5" formGroupName="physicalExam">
          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Cabeza y Cuello</label>
              <textarea formControlName="physicalExam_HeadNeck" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Corazón</label>
              <textarea formControlName="physicalExam_Heart" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Tórax</label>
              <textarea formControlName="physicalExam_Chest" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Abdomen</label>
              <textarea formControlName="physicalExam_Abdomen" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Genitourinario GU</label>
              <textarea formControlName="physicalExam_GU" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Musculoesquelético</label>
              <textarea formControlName="physicalExam_Musculoskeletal" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Neurológico</label>
              <textarea formControlName="physicalExam_Neuro" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label>Piel</label>
              <textarea formControlName="physicalExam_Skin" type="text" class="form-control" [readonly]="isReadOnlyForm"></textarea>
            </div>
          </div>

          <!-- Observaciones -->
          <div class="mb-3">
            <label>Observaciones</label>
            <textarea formControlName="observations" type="text" class="form-control" rows="3" [readonly]="isReadOnlyForm"></textarea>
          </div>

          <!-- <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(3)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="goToStep(5)">Siguiente</button>
          </div> -->
        </div>

        <!-- Paraclínicos -->
        <div *ngIf="currentStep === 6" formGroupName="paraClinicals">
          <div class="col-12">
            <label>Paraclínicos</label>
            <textarea class="form-control mb-2" formControlName="paraClinicalTest" rows="5" [readonly]="isReadOnlyForm"></textarea>
          </div>

          <!-- <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(4)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="idRol !== 2 ? goToStep(6) : goToStep(7)">
              Siguiente
            </button>
          </div> -->
        </div>

        
        <!-- Diagnósticos (solo admin) -->

        @if(currentStep === 7 && (idRol === 1 || idRol === 3) && diagnoses?.controls){
          <div formArrayName="diagnoses">
            <h5 class="mt-4">Diagnósticos</h5>
          
            <div *ngFor="let diag of diagnoses.controls; let i = index" [formGroupName]="i" class="card-custom border p-3 mb-4">
          
              <!-- Título dinámico -->
          
              <div class="title-card">
                <h5 class="mb-3">Diagnóstico {{ i + 1 }}</h5>
          
                @if(!consultationToEdit) {
                  <button class="btn btn-sm btn-soft-danger" [class.readonly-form]="consultationToEdit?.status"
                    (click)="removeDiagnosis(i)" *ngIf="diagnoses.length > 1" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Eliminar">
                    <i class="mdi mdi-delete-outline"></i>
                  </button>
                }
              </div>
          
          
              <div class="row">
                <div class="col-md-4 mb-2 position-relative">
                  <label>Código</label>
                  <input type="text" formControlName="diagnosisCode" class="form-control"
                    (input)="onCodeInput($event.target.value, i)" autocomplete="off" [readonly]="isReadOnlyForm" />
                  <ul class="list-group position-absolute w-100" style="z-index:10; max-height:200px; overflow-y:auto;">
                    <li *ngFor="let item of codeSuggestions[i]" class="list-group-item list-group-item-action"
                      (mousedown)="selectSuggestion(item, i)">
                      {{ item.codigo }}
                    </li>
                  </ul>
                </div>
          
                <div class="col-md-8 mb-2 position-relative">
                  <label>Nombre</label>
                  <input type="text" formControlName="diagnosisDescription" class="form-control"
                    (input)="onDescriptionInput($event.target.value, i)" autocomplete="off" [readonly]="isReadOnlyForm" />
                  <ul class="list-group position-absolute w-100" style="z-index:10; max-height:200px; overflow-y:auto;">
                    <li *ngFor="let item of descriptionSuggestions[i]" class="list-group-item list-group-item-action"
                      (mousedown)="selectSuggestion(item, i)">
                      {{ item.nombre }}
                    </li>
                  </ul>
                </div>
          
                <div class="col-12 mb-2">
                  <label>Tipo</label>
                  <select formControlName="diagnosisType" class="form-control" (change)="onDiagnosisTypeChange(i)">
                    <option *ngFor="let type of diagnosisTypes" [ngValue]="type">{{ type.diagnosisType }}</option>
                  </select>
                </div>
          
                <div class="col-md-12 mt-2 mb-2">
                  <label>Comentario (opcional)</label>
                  <textarea formControlName="comment" class="form-control"></textarea>
                </div>
          
                <div class="col-md-6 mt-2">
                  <input type="checkbox" formControlName="isPrincipal" />
                  <label class="ms-1">Principal</label>
                </div>
          
              </div>
            </div>
          
            @if(!consultationToEdit?.status) {
            <button type="button" class="btn btn-primary mt-2 mb-5" (click)="addDiagnosis()">
              <i class="mdi mdi-plus mr-1"></i>
              Agregar
            </button>
            }
          
          
          <!--   <div class="mt-3">
              <button type="button" class="btn btn-light me-2" (click)="goToStep(idRol !== 2 ? 6 : 5)">Atrás</button>
              <button type="button" class="btn btn-primary" (click)="goToStep(8)">Siguiente</button>
            </div> -->
          </div>
        }

        <!-- Análisis o Concepto -->
        <div *ngIf="currentStep === 8" formGroupName="analysisOrConcept">
          <div class="col-12">
            <label>Análisis o Concepto </label>
            <textarea class="form-control mb-2" formControlName="analysisOrConcept" rows="5" [readonly]="isReadOnlyForm"></textarea>
          </div>

          <div class="col-12">
            <label>Tratamiento</label>
            <textarea class="form-control mb-2" formControlName="treatment" rows="5" [readonly]="isReadOnlyForm"></textarea>
          </div>

        <!--   <div class="mt-3">
            <button type="button" class="btn btn-light me-2" (click)="goToStep(4)">Atrás</button>
            <button type="button" class="btn btn-primary" (click)="idRol !== 2 ? goToStep(6) : goToStep(7)">
              Siguiente
            </button>
          </div> -->
        </div>

        <!-- Cierre -->
        <div *ngIf="currentStep === 9" formGroupName="closeConsultation">
          <div class="row">
            <!-- Condición de Salida  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idExitCondition" class="form-label">
                  Condición de Salida
                  
                </label>
                <div class="input-group">
                  <select id="idExitCondition" class="form-control" formControlName="idExitCondition">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let index of exitConditions" [ngValue]="index.idExitCondition">
                      {{ index.exitConditionName }}
                    </option>
                  </select>
                  
                </div>
              </div>
            </div>


            <!-- Causa Externa  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idExternalCauseCode" class="form-label">
                  Causa Externa
                </label>
                <div class="input-group">
                  <select id="idExternalCauseCode" class="form-control" formControlName="idExternalCauseCode">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let index of externalCauses" [ngValue]="index.idExternalCauseCode">
                      {{ index.externalCauseName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>


            <!-- Finalidad de Consulta  -->
            <div class="col-12 col-lg-4 col-md-4">
              <div class="mb-2">
                <label for="idConsultationFinality" class="form-label">
                  Finalidad de Consulta
                </label>
                <div class="input-group">
                  <select id="idConsultationFinality" class="form-control" formControlName="idConsultationFinality">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let index of consultationFinalities" [ngValue]="index.idConsultationFinality">
                      {{ index.consultationFinalityName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-3">
            <div class="col-12 mb-3">
              <label for="paraclinicalResults" class="form-label">Resultados paraclínicos</label>
              <textarea id="paraclinicalResults" class="form-control" formControlName="paraclinicalResults" rows="4"
                placeholder="Registre aquí los resultados de exámenes paraclínicos al cierre de la consulta"
                [readonly]="isReadOnlyForm"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 col-lg-6">
              <div class="form-check form-switch form-switch-lg mb-3">
              
                <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" formControlName="status"
                  [disabled]="(idRol !== 1) && consultationToEdit?.status" [checked]="form.get('closeConsultation.status')?.value" />
                
                <label class="form-check-label" for="SwitchCheckSizelg">
                  {{ form.get('closeConsultation.status')?.value ? 'CONSULTA CERRADA' : 'CONSULTA ABIERTA' }}
                </label>
              </div>
            </div>

          </div>


        </div>

        <!-- Guardar Datos -->
        <div class="mt-4 text-end gap-3" *ngIf="!(consultationToEdit?.status && (idRol === 2 || idRol === 3))">
          <button type="button" class="btn btn-light" (click)="back()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Guardar</button>
        </div>


      </form>

    </div>

    </div>

  </div>

</div>