.text-end {
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.readonly-form input,
.readonly-form textarea,
.readonly-form select {
    background-color: #f8f9fa;
    pointer-events: none;
}