.logo-login {
    margin: 30px 0 30px 0;
    img {
        width: 300px;
    }
}

.col-8 {
    background-image: url('../../../../../assets/images/login/team-cermi-2.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.alert alert-danger {
    margin: 10px 0 !important;
    padding: 8px 15px !important;
}