<div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-8">

      </div>

      <div class="col-4">
         <div class="auth-full-page-content px-5 py-4">
                <div class="w-100">

                    <div class="d-flex flex-column h-100 justify-content-center">
                        <div class="mb-3 d-flex justify-content-center">
                            <a routerLink="/" class="d-block auth-logo">
                                <img src="assets/images/CERMI.png" alt="" height="175" class="auth-logo-dark">
                            </a>
                        </div>
                        <div class="my-2">
                            <div>
                                <h5 class="text-primary">Bienvenido de nuevo !</h5>
                                <p class="text-muted">Inicia sesion para continuar</p>
                            </div>

                            <div class="mt-4">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                    <!-- Email -->
                                    <div class="mb-3">
                                        <label for="email">Correo</label>
                                        <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Ingresa tu email">
                                        @if(submitted && f.password.errors){
                                        <div class="invalid-feedback">
                                            @if(f.email.errors?.required){
                                            <div>Este campo es obligatorio.</div>
                                            }
                                            @if(f.email.errors?.email){
                                            <div>Ingresa un correo válido</div>
                                            }
                                        </div>}
                                    </div>

                                    <!-- Conraseña -->
                                    <div class="mb-3">
                                      <label for="userpassword">Contraseña</label>
                                      <div class="input-group auth-pass-inputgroup">
                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
                                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Ingresa tu contraseña"
                                          aria-label="Password" aria-describedby="password-addon" />
                                        <button class="btn btn-light" type="button" (click)="toggleFieldTextType()" id="password-addon">
                                          <i class="mdi" [ngClass]="fieldTextType ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"></i>
                                        </button>
                                        @if(submitted && f.password.errors){
                                        <div class="invalid-feedback">
                                          @if(f.password.errors.required){
                                          <span>Este campo es obligatorio.</span>
                                          }
                                        </div>
                                        }
                                      </div>
                                    </div>

                                    <div class="mt-5 d-grid">
                                      <button class="btn btn-primary btn-block" type="submit" [disabled]="loading">
                                        <ng-container *ngIf="!loading; else loadingTpl">Iniciar Sesión</ng-container>
                                        <ng-template #loadingTpl>
                                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                          Cargando...
                                        </ng-template>
                                      </button>
                                    </div>
                                    
                                    <alert *ngIf="loginFailed" [dismissible]="false" type="danger" class="mt-2 d-flex p-1 justify-content-center custom-alert">
                                      <i class="mdi mdi-block-helper me-2"></i>
                                        Credenciales Incorrectas
                                    </alert>
                                </form> 
                            </div>
                        </div>

                        <div class="mt-4 mt-md-5 text-center">
                            <p class="mb-0">© {{year}} Desarrollado por: Teknari Solutions </p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      
    </div>
</div>