<div class="modal-header">
    <h5 class="modal-title">Restablecer Contraseña</h5>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="form">
        <label>Nueva contraseña</label>
        <input type="text"
               class="form-control"
               formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && form.get('password')?.invalid }" />

        <div class="invalid-feedback" *ngIf="submitted && form.get('password')?.invalid">
            La contraseña es requerida.
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-light" (click)="close()">Cancelar</button>
    <button class="btn btn-primary" (click)="submit()">Guardar</button>
</div>
