<!-- Loading State -->
@if(isLoading) {
  <app-loading message="Cargando Pacientes"></app-loading>
}

<div class="container-fluid">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <span class="mb-0">Parametrización</span>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Pacientes</a>
            </li>
            <li class="breadcrumb-item active">Lista de Pacientes</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter -->
   <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mt-1 mb-1">

            <h6 class="mb-4">Filtrar por:</h6>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="mb-3">
                <label for="idDocument" class="form-label">Documento</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="idDocument" [(ngModel)]="filterIdDocument" />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="mb-3">
                <label for="firstName" class="form-label">Primer Nombre</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="firstName" [(ngModel)]="filterFirstName" />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="mb-3">
                <label for="firstLastName" class="form-label">Primer Apellido</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="firstLastName" [(ngModel)]="filterFirstLastName" />
                </div>
              </div>
            </div>

  
            <div class="col-md-6 d-flex align-items-center gap-3">
              <div class="mb-0">
                <button type="button" class="btn btn-light px-5" title="Limpiar" (click)="clearFilter()">
                  <i class="ri-restart-line"></i>
                  Limpiar
                </button>
              </div>

              <div class="mb-0">
                <button type="button" class="btn btn-primary px-5" title="Filtrar" (click)="applyFilter()">
                  <i class="bx bx-search-alt-2"></i>
                  Filtrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <!-- Container Table -->
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <h5 class="mb-0 flex-grow-1">
                        Lista de Pacientes
                    </h5>
                    <div class="flex-shrink-0 d-flex gap-1">
                        <button type="menu" class="btn btn-primary" (click)="createPatient()">
                            <i class="mdi mdi-plus mr-1"></i>
                            Nuevo Paciente
                        </button>
                    </div>
                </div>

                <!-- No Data -->
                @if(!isLoading && patients.length === 0) {
                <div class="no-data-container d-flex justify-content-center ">
                    <p>No hay datos disponibles</p>
                </div>
                }

                <!-- Table with data -->
                @if(!isLoading && patients.length > 0) {
                  <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col" style="width: 10%;">Tipo</th>
                                <th scope="col">Nº Documento</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">EPS</th>
                                <th scope="col" class="align-middle text-center" style="width: 10%;">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(data of patients; track $index){
                              <tr>
                                <td>{{ data.firstName }} {{ data.secondName }} {{ data.firstLastName }} {{ data.secondLastName }}</td>
                                <td>{{ data.documentType }}</td>
                                <td>{{ data.idDocument }}</td>
                                <td>{{ data.phoneNumber }}</td>
                                <td>{{ data.epsName }}</td>
                               
                                <!-- Actions -->
                                <!-- <td class="d-flex justify-content-end">
                                  <ul class="list-inline font-size-20 contact-links mb-0">
                                    <li class="list-inline-item">
                              
                                      <div dropdown class="dropdown">
                                        <a dropdownToggle href="javascript: void(0);" class="dropdown-toggle card-drop px-2 show"
                                          aria-expanded="true">
                                          <i class="mdi mdi-dots-horizontal font-size-18"></i> </a>
                              
                                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-end show" placement="bottom-end">
                                          <li>
                                            <a class="dropdown-item edit-list" (click)="editPatient(data)">
                                              <i class="mdi mdi-pencil-outline font-size-16 text-success me-1"></i>
                                              Editar
                                            </a>
                                          </li>
                              
                                          <li>
                                            <a class="dropdown-item edit-list" (click)="deletePatient(data.idPatient)">
                                              <i class="mdi mdi-delete-outline font-size-16 text-danger me-1"></i>
                                              Eliminar
                                            </a>
                                          </li>
                              
                                          <li>
                                            <a class="dropdown-item edit-list" (click)="viewPatientProcedures(data)">
                                              <i class="mdi mdi-eye-outline font-size-16 text-info me-1"></i>
                                              Historia Clinica
                                            </a>
                                          </li>
                              
                                        </ul>
                                      </div>
                                    </li>
                                  </ul>
                                </td> -->
                              
                                  <!-- Actions -->
                                <td class="d-flex justify-content-end">
                                
                                  <ul class="list-unstyled hstack gap-1 mb-0">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                      <button class="btn btn-sm btn-soft-info" (click)="editPatient(data)">
                                        <i class="mdi mdi-pencil-outline"></i>
                                      </button>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Historia Clinica">
                                      <button class="btn btn-sm btn-soft-success" (click)="viewPatientProcedures(data)">
                                        <i class="ri-chat-heart-line"></i>
                                      </button>
                                    </li>
                                  </ul>

                                </td>

                              </tr>
                            }
                        </tbody>
                    </table> 
                  </div>
                }

                <!-- Pagination -->
                <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalRecords]="totalRecords"
                  [pageSizeOptions]="pageSizeOptions" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
                </app-pagination>

            </div>
        </div>
    </div>
  </div>

</div>
